/* .progress-circle {
    width: 100px;
    height: 100px;
    margin: auto;
}

.circular-chart {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke: #4caf50;
    animation: progress 1s ease-out forwards;
}

.percentage {
    fill: #4caf50;
    font-size: 0.5em;
    text-anchor: middle;
} */