.assessment-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 100%;
  overflow: hidden;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  background-color: #FFFFFF;
  min-height: calc(100vh - 140px); /* Ensures full scrollable height */
}

.card-gray {
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 10px;
}

.equal-card {
  min-height: 250px;
}

.bg-blue-700 {
  background-color: #0047AB;
}
