body {
  font-family: 'Poppins', sans-serif;
  background-color: #D9D9D9;
  /* margin: 0;
  padding: 0; */
}

/* Reset box sizing */
* {
  box-sizing: border-box;
}

/* Utility classes (optional) */
/* .text-center {
  text-align: center;
} */

/* Global reset and layout */
html,
body,
#root {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  overflow-y: auto;
}